body {
  color: #2f80ed;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.image {
  display: flex;
  margin: 110px auto 10px;
}

.logo {
  width: 420px;
  font-size: 120px;
  font-weight: normal;
  padding-bottom: 22px;
  margin: 0 auto;
  text-align: center;
}

.text {
  display: flex;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto 80px;

}

.logo:hover ~ .hidden-text{
  opacity: 1;
}

.footer{
  text-align: center;
  padding-bottom: 30px;
}

.hidden-text{
  opacity: 0;
  display: flex;
  margin: auto;
  padding-top: 20px;
  width: 420px;
}
